@import '../scss/variables.scss';


.hero-head{
    padding: 4rem;
}

.l-grid-half {
  width: 50%;
}
.hero-col-left{
    margin: auto;
    max-width: 42rem;
}

.l-flex-parent {
  display:flex;
  flex-direction:row;
}
.l-flex-child {
  align-items: center;
  display:flex; 
  justify-content: center;
  
}

.hero-img{
    // max-width: 100%;
    width: 24rem;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    position: relative;
    z-index: 20;
}

.hero-svg{
    pointer-events: none;
    z-index: 10;
    position: absolute;
    right: 0px;
    bottom: 0px;
    --transform-translate-x: 2.5rem;
    --transform-translate-y: 2.5rem;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    height: 8rem;
    width: 8rem;
    opacity: 0.25;
    color: #c43307e0;
    fill: currentcolor;
}

.img-card {
    max-width: 24rem;

    position: absolute;
    bottom: 4px;
    left: 0px;
    right: 0px;
    z-index: 20;
    margin-left: -4rem;
    background-color: #c43307e0;
    color: $Whitee;
    font-weight: 500;
    text-align: center;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
    font-size: 0.875rem;
    line-height: 1.625;

    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.img-card-quote{
    width: 3rem;
    height: 3rem;
    color: #ffa836;
    --transform-translate-x: -50%;
    --transform-translate-y: -1.25rem;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
}

.hero-col-left h2 {
  font-family: Inter,system-ui;
  font-weight: 900;
  font-size: 4rem;
  text-align: left;
    --text-opacity: 1;
    margin: 0;
    color: #222326;
    line-height: 1.375;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.col-right{
    position: relative;
    border-radius: 5px;
}



@media screen and (max-width: 1098px){

  .hero-col-left h2 {

    font-size: 3.25rem;

  }
}


@media screen and (max-width: 960px){

  .hero-head{
    padding: 2rem;
}
.hero-col-left{
  margin: 0 0 40px 0;
}
  .l-flex-parent {

    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .l-grid-half {
    width: 90%;
}

  .l-flex-child {
    display:flex; 
    justify-content: center;
  }
  
  .hero-col-left h2 {
    font-family: Inter,system-ui;
    font-weight: 900;
    font-size: 2.25rem;
    text-align: left;
      --text-opacity: 1;
      margin: 0;
      color: #222326;
      line-height: 1.375;
      display: block;
      margin-block-start: 0.23em;
      margin-block-end: 0.3em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
  }

  .hero-img{
    max-width: 100%;

}

.img-card {

  margin: 0;
}
}


