.nav-info {
  margin: 0;
  height: 40px;
}

.nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fdf6f0;
  color: white;
  align-items: center;
  justify-content: center;
}
.nav-info .slam-left {
  margin-right: auto;
}

@media all and (max-width: 500px) {
  .nav-info {
   display: none;
  }
}

/*@error-bg: #e74c3c;
@error-br: #c0392b;
@success-bg: #dff0d8;
@success-br: #d6e9c6;
@info-bg: #3498db;
@info-br: #2980b9;
@text-color:#3c763d;*/
.notif-content {
  line-height: 1;
}

.info-content {
  color: #ffa836;
  pointer-events: auto;
  position: relative;
  width: 200px;
  margin: 0 25px;
}
.info-content .notif-icon {
  display: inline-block;
  position: absolute;
  font-size: 16px;
  top: 3px;
}
.info-content .notif-content {
  display: inline-block;
  height: 30px;
  margin-left: 25%;
}
.info-content .notif-title {
  font-family: 'Roboto Condensed',sans-serif;
  font-weight: bold;
  display: inline-block;
  font-size: 14px;
}
.info-content .notif-msg {
  color: #3e3e3e;
  font-family: 'Roboto Condensed',sans-serif;
  display: inline-block;
  font-size: 13px;
}


.fa-stack {
  line-height: 1.7em;


  .fa-stack-2x {
    font-size: 1.8em;
}}